{% extends 'base/base.html' %}
{% load static %}
{% block title %}Event Calendar{% endblock title %}

{% block extracss %}
  <link href="{% static 'calender/main.css' %}" rel="stylesheet" />
{% endblock extracss %}

{% block breadcrumb %}
  <div>
      <h1><i class="fa fa-calendar"></i> Calendar</h1>
      <p>Event Calendar</p>
  </div>
  <ul class="app-breadcrumb breadcrumb">
      <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
      <li class="breadcrumb-item"><a href="#">Calendar</a></li>
  </ul>
{% endblock breadcrumb %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="tile row">
            <div class="col-md-3">
                <div id="external-events">
                    <h4 class="mb-4">Running Events</h4>
                    {% for event in events_month %}
                      <div class="fc-event">
                          <h3>{{ event.title }}</h3>
                          <p>{{ event.id }}</p>
                          <p>{{ event.resourceId }}</p>
                          <p>From: {{ event.start_time }}</p>
                          <p>To: {{ event.end_time }}</p>
                          <a class="btn btn-info right mr-2" href="{% url 'calendarapp:delete_event' event.pk %}"> Delete Event </a>
                      </div>
                    {% empty %}
                      <p>No Running Events Found</p>
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-9">
                <div id="calendar"></div>
            </div>

            <div class="modal fade show" id="eventModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header bg-primary">
                            <h5 class="modal-title text-white" id="exampleModalLongTitle">Add New Event</h5>
                            <button id="modalClose1" type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form method="post">
                            {% csrf_token %}
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="recipient-name" class="col-form-label">Event Title:</label>
                                    {{ form.title }}
                                </div>
                                <div class="form-group">
                                    <label for="recipient-name" class="col-form-label">Номер Кабинета</label>
                                    {{ form.resourceId }}
                                </div>
                                <div class="form-group">
                                    <label for="message-text" class="col-form-label">Description:</label>
                                    {{ form.description }}
                                </div>
                                <div class="form-group">
                                    <label for="message-text" class="col-form-label">Start Date:</label>
                                    {{ form.start_time }}
                                </div>
                                <div class="form-group">
                                    <label for="message-text" class="col-form-label">End Date:</label>
                                    {{ form.end_time }}
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button id="modalClose2" type="button" class="btn btn-danger">Close</button>
                                <button type="submit" class="btn btn-primary">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block extrascripts %}
  <script src="https://cdn.jsdelivr.net/npm/fullcalendar-scheduler@5.11.3/main.min.js"> //изменил путь к скрипту так как старый не работал
  </script>
  <script src="{% static 'calender/locales/ru.js' %}"></script>
  <script>
      document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var today = new Date();

        var calendar = new FullCalendar.Calendar(calendarEl, {
          locale: 'ru',
          initialView: 'resourceTimeGridFourDay',
          navLinks: true,
          nowIndicator: true,
          datesAboveResources: true, // меняет местами     дату с ресурсами
          headerToolbar: {
            left: 'prev,next today',
            center: 'title',
            right: 'resourceTimeGridDay,resourceTimeGridFourDay,resourceTimeGridWeek,dayGridMonth'
          },
          timeZone: 'local',
          initialDate: today,
          navLinks: true, // can click day/week names to navigate views
          selectable: true,
          // height: 'auto', // активирует stickyHeaderDates автоматически!
          // slotDuration: '00:15:00', // очень маленькие слоты сделают календарь очень высоким
          dayMinWidth: 150, // вызовет горизонтальные полосы прокрутки    
          selectMirror: true,
          select: function(arg) {
            console.log(arg.resource.id,);  
            var startTime = arg.startStr.slice(0, 19);
            var endTime = arg.endStr.slice(0, 19);
            var resId = arg.resource.id
            var inputStartDatetime = document.getElementById("startDateTime");
            var inputEndDatetime = document.getElementById("endDateTime");
            inputStartDatetime.setAttribute('value', startTime)
            inputEndDatetime.setAttribute('value', endTime)
            var inputResId = document.getElementById("resourceId");
            inputResId.setAttribute('value', resId)

            var modal = document.getElementById('eventModal')
            modal.style.display = 'block'
            calendar.unselect()
          },
          // THIS KEY WON'T WORK IN PRODUCTION!!!
          // To make your own Google API key, follow the directions here:
          // http://fullcalendar.io/docs/google_calendar/
          // googleCalendarApiKey: 'AIzaSyCqCxjjLtjbtkX37aOtWB8OfwBLy_6QuYk',

          // bangladesh Holidays
          // events: 'bn.bd#holiday@group.v.calendar.google.com',
          eventClick: function(arg) {
            return location.href="/event/"+arg.event.id+"/details/"
          },
          editable: true,
          dayMaxEvents: true, // allow "more" link when too many events
          views: {
            resourceTimeGridFourDay: {
              type: 'resourceTimeGrid',
              duration: { days: 4 },
              buttonText: '4 days',
            },
          },
                  resources: [
    {
      id: 'Кабинет 1',
      title: 'Кабинет 1',
      eventColor: 'orange',
      businessHours: {
        startTime: '9:00',
        endTime: '18:00'
      }
    },
    {
      id: 'Кабинет 2',
      title: 'Кабинет 2',
      eventColor: 'green',
      businessHours: {
        startTime: '9:00',
        endTime: '15:00',
        daysOfWeek: [ 1, 3, 5 ] // Mon,Wed,Fri
      }
    }
  ],
          events: {{ events|safe }},
      //     events: [
      //   { resourceId: 'a', start: '2022-09-06', end: '2022-09-08', title: 'event 1' },
      //   { resourceId: 'a', start: '2022-09-07T09:00:00', end: '2022-09-07T14:00:00', title: 'event 2' },
      //   { resourceId: 'b', start: '2022-09-07T12:00:00', end: '2022-09-08T06:00:00', title: 'event 3' },
      //   { resourceId: 'a', start: '2022-09-07T07:30:00', end: '2022-09-07T09:30:00', title: 'event 4' },
      //   { resourceId: 'b', start: '2022-09-07T10:00:00', end: '2022-09-07T15:00:00', title: 'event 5' }
      // ],
        });

        calendar.render();
      });
      const closeBtn1 = document.getElementById('modalClose1');
      const closeBtn2 = document.getElementById('modalClose2');
      closeBtn1.addEventListener('click',()=>{
        const eventModal = document.getElementById('eventModal')
        eventModal.style.display = 'none';
      });
      closeBtn2.addEventListener('click',()=>{
        const eventModal = document.getElementById('eventModal')
        eventModal.style.display = 'none';
      });
  </script>
{% endblock extrascripts %}
